.nav-bar {
    display: flex;
}
.tab {
    padding: 16px;
}
.parent{
    background-color: antiquewhite;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,auto));
    grid-gap: 1rem;
    align-items: center;
}
.child{
    max-width: 320px;
}
.child-1 video {max-width: 320px; height: auto;}
.child-1 img {max-width: 320px;  height: auto;}
.child-2 video {max-width: 320px; height: auto;}
.child-2 img {max-width: 320px;  height: auto;}
.child-3 video {max-width: 320px; height: auto;}
.child-3 img {max-width: 320px;  height: auto;}
.child-4 img {max-width: 320px;  height: auto;}
.child-5 img {grid-row: span 2; max-width: 320px;  height: auto;}
.child-6 img {max-width: 320px;  height: auto;}
.child-7 img {max-width: 320px;  height: auto;}
.child-8 img {max-width: 320px;  height: auto;}
.child-9 img {max-width: 320px;  height: auto;}
.child-10 img {max-width: 320px;  height: auto;}
#main-body {
    display: flex;
}